.comment {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
}
.comment_content {
    display: inline-block;
    background-color: gray;
    border-radius: 18px;
    margin-left: 0.5em;
    padding: 0.6em;
    background-color: #f0f2f5;
}
.comment_content p {
    margin: 0;
}

.comment .avatar {
    margin-top: 0.4em;
    height: 2.3em;
    width: 2.3em;
}