#CreatePost {
    background-color: white;
    padding: 5px;
    border: solid rgb(203, 203, 203) 0.5px;
    box-shadow: rgb(203, 203, 203) 0.5px 0.5px 0.5px;
    border-radius: 10px;
}

#CreatePost input, #CreatePost textarea, .ImageLabel, #CreatePost img {
    margin-bottom: 10px;
}

#CreatePost input, #CreatePost textarea, #CreatePost img{
    width: 100%;
}

#CreatePost input[type="submit"], .ImageLabel button{
    width: 40%;
}

#CreatePost input[type="submit"] {
    float: right;
}

#CreatePost textarea {
    width: 99%;
    height:4em;
    transition: all ease 0.1s;
}

#CreatePost textarea:focus  {
    height:7em;
}

#CreatePost input[type="file"]{
    display: none;
}

.ImageLabel button{  
 display: inline-block;
}

#CreatePost img {
    display: none;
}