.notifications {
position:relative;
}

.notifications-button {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3.2em;
    width: 3.2em;
    float: right;
    background-image:url("./../public/notifications-white.png");
    position:relative;
    cursor: pointer;
}

.notifications-number {
    width: 1em;
    position: absolute;
    height: 1em;
    bottom: 0;
    right: 0;
    margin-top: auto;
    float: right;
    background-color: red;
    border-radius: 0.2em;
    text-align: center;
    font-weight: bold;
}

.notifications-dropdown {
    margin: 0;
    padding: 0.5em 0em;
    list-style-type: none;
    position: absolute;
    top: 4em;
    right:0;
    background: #4267b2;
    width: 15em;
    max-height:60vh;
    overflow: scroll;
}

.notifications-dropdown li {
    margin-bottom: 0.2em;
    padding:0.5em 1.5em;
    cursor: pointer;
}

.notifications-dropdown .unread {
    background: #5786e7;
}


.notifications-dropdown li:last-child {
    margin-bottom: 0em;
}

.notifications-dropdown li:hover {
    background: #315091;
}

.notifications-dropdown-hidden {
    display:none;
}

@media screen and (max-width:1000px) {
    .notifications-dropdown {
        top: 5.3em;
        right: 0!important;
    }    
    .notifications {
        position:static;
    }
}

@media screen and (max-width:576px) {
    .notifications-dropdown {
        top: 4.3em;
        right: 0!important;
    }    
    .notifications {
        position:static;
    }
}
