.notifications {
position:relative;
}

.notifications-button {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3.2em;
    width: 3.2em;
    float: right;
    background-image:url("./../public/notifications-white.png");
    cursor: pointer;
}

.notifications-number {
    width: 1em;
    position: absolute;
    height: 1em;
    bottom: 0;
    right: 0;
    margin-top: auto;
    float: right;
    background-color: red;
    border-radius: 0.2em;
    text-align: center;
    font-weight: bold;
}


.notifications-dropdown {
    margin: 0;
    padding: 0;
    list-style-type:armenian;
    position: absolute;
    top: 100%;
    right:0;
    background: #4267b2;
    width: 30%!important;
    max-height:60vh;
    overflow: scroll;
    border:#ececec 2px solid;
    transition: all 0.5s;
    height:100vh;
    opacity:1!important;
}

.notifications-dropdown-hidden {
    height:0!important;
    opacity:0!important;
}


.notifications-dropdown li {
    margin-bottom: 0.2em;
    cursor: pointer;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    border-bottom: #ececec 2px solid!important;
    transition: background 0.5s;
}



.notifications-dropdown li a {
    padding:0.5em 1.5em;
    display: block;
    width: 100%;
}

.notifications-dropdown .unread {
    background: #5786e7;
}


.notifications-dropdown li:last-child {
    margin-bottom: 0em;
}

.notifications-dropdown li:hover {
    background: #315091;
}

@media screen and (max-width:1000px) {
    .notifications-dropdown {
        width: 50%!important;
    }    
    .notifications {
        position:static;
    }
}

@media screen and (max-width:576px) {
    .notifications-dropdown {
    }    
    .notifications {
        position:static;
    }
}
