/* .avatar
.user
.date
.privacy
.settings */

.top_row {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post_header {
    padding: 15px 20px;
}

.avatar {
    display: inline-block;
    height: 3.2em;
    width: 3.2em;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.name_date_wrapper {
    display: inline-block;
    margin-left: 10px;
}


.date, .privacy {
    display: inline-block;
}

.date {
    font-size: 0.8em;
}

.privacy{
    margin-left: 10px;
}

.settings {
    margin-left: auto;
}

.settings button {
    margin-bottom: 100%;
    line-height: 1.5em;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 25px;
}

@media (hover: hover) {
    .settings button:hover {
        background-color: #4267B2;
        color: white;
    }
}