
.post {
    margin: 0 auto 10px;
    display: block;
    background: rgb(195, 195, 250);
    width: 80%;
    padding: 15px 20px;
}

.post_image {
    text-align: center;
    margin-bottom: 10px;
}

.post_reactions {
    margin-bottom: 10px;
}