
.post {
    margin: 0 auto 10px;
    display: block;
    background: white;
    padding: 15px 20px;
    border: solid rgb(203, 203, 203) 0.5px;
    box-shadow: rgb(203, 203, 203) 0.5px 0.5px 0.5px;
    border-radius: 10px;

}

.post_image {
    text-align: center;
    margin-bottom: 10px;
}

.post_reactions {
    margin-bottom: 10px;
}

.post_content {
    margin-bottom: 10px;
}